* {
    font-family: "Georgia", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

.section-p1{
    padding: 40px 80px;
}

#flash{
    color: darkred;
    font-size: 14px;
}






/* header */


/* if you want to see the difference in style put the section in comment */
#header {
    display: flex;  
    justify-content: space-between;
    padding: 35px 80px;
    background-color: #daebf0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

/* to align the items of the nevigation bar  */
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* to delete the automatic point of lists and espace the items */
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* remove the underline of the items */
#navbar li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 550;
    color:rgb(36, 54, 54);
    transition: 0.3s ease;
}

/* add effect when we pass the curser on the button */
/* active is the page we actually are in */
#navbar li a:hover,
#navbar li a.active {
    color:rgb(102, 142, 142);
}

/* add a little bar under the page we actually are in for beauty :) */
/* the a:hover is to show the little bar every time we pass our mousse
on the other items */
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(102, 142, 142);
    position: absolute;
    bottom: -4px;
    left: 20px;
}



/* search bar */

.search_form{
    width: 100%;
    border: 1px solid #496967;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_form input{
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 15px;
    padding: 4px 10px ;
}


.search-sign{
    padding-left: 10px;
    color: #2d4e4c;
}









/* sign in and sign up pages */


/* set up the background color and center the text */
.body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #d8e1ef;  
}

/* do a beautiful sign up box */
.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    background-color: #F7F7FF;
}

/* center the title and espace it a bit */
.formTitle{
    text-align: center;
    margin-bottom: 2rem;
}

.formInput {
    margin-bottom: 1rem;
    justify-items: center;
}

/* make beautiful bars to put id and password */
.formInput input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background: #ffffff;
}

/* make a beautiful login button */
.formButton{
    margin-left: 90px;
    width:50%;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #9cc6e4;
    transition: 0.3s ease;
}

/* add animation to the login button -> changing color */
.formButton:hover {
    background: #587183;
}

/* add another animation to the login button -> reduce the size when clicking */
.formButton:active{
    transform: scale(0.97);
}

/* center and arrange the sign up button */
.formText {
    text-align: center;
    font-size: 14px;
    margin-top: 1rem;
}

/* removing the automatic decoration of the link */
.formText a{
    text-decoration: none;
    color: #4c4c55;
    transition: 0.3s ease;

}
 /* adding animation to the sign up button */
.formText a:hover{
    text-decoration: underline;
    color: #969f9d;
}


/* name button to see more details about product */

.proddetail a{
    padding: 4px 5px;
    text-decoration: none;
    font-size: 15px;
    color: #627b88;
    transition: 0.3s ease;
}

.proddetail a:hover{
    color: #404d53;
    text-decoration: underline;
}



/* beautiful product table */
.pro-container{
    padding-left: 20px;
    padding-right: 20px;
}

.prod-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9 em;
    width: 100%;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.prod-table thead tr{
    background-color: #d9e3e8;
    text-align: left;
    font-size: 18px;
}

.prod-table th, 
.prod-table td {
    padding: 12px 15px;
}

.prod-table tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.prod-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.prod-table tbody tr:last-of-type{
    border-bottom: 2px solid #d9e3e8;
}




/* post button */
.post_container{
    text-align: center;
    margin-top: 20px;
}

.post_button{
    border: 1px solid #627b88;
    background: none;
    padding: 10px 80px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.post_button:hover{
    color: #627b88;
    transition: 0.8s;
}

.post_button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 180%;
    background: #627b88;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition: 0.8s;
}

.post_button:hover::before{
    height: 0%;
}




/* delete button */
.editdel{
    display: flex;
    gap: 1rem;
}

.editdel a{
    padding: 4px 5px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    background-color: #627b88;
    border-radius: 4px;
    border: 1px solid #627b88;
    transition: 0.3s ease;
}

.editdel a:hover{
    background-color: #fff;
    color: #627b88;;
    border-radius: 4px;
}

.editdel a:active{
    transform: scale(0.97);
}


